<!DOCTYPE html>
<html>
<head>
  <title>Piki</title>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/zepto/1.0/zepto.min.js" type="text/javascript"></script>
  <script src="/piki.js" type="text/javascript"></script>
  <script src="/todo.js" type="text/javascript"></script>
  <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
  <link href="/piki.css" type="text/css" rel="stylesheet" />
</head>
<body>
  <div id="page">
    <%= yield %>
  </div>

  <div id="todo">
    <div id="content" contenteditable="true">
    </div>

    <ul id="notifications">
    </ul>
  </div>

  <script type="text/javascript">
    Piki.init()
    Piki.initTodo()
  </script>
</body>
</html>

